h1 {
  font-weight: 900;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 30px;
}

input {
  width: 100%;
}

.todo-list {
  text-align: left;
}

.to-do {
  margin: 10px 5px;
}
.to-do button {
  min-width: 80px;
}
